@using Microsoft.AspNetCore.Identity
@using Persistence.Models
@using System.Security.Claims
@model List<UsersRolesViewModel>
@inject SignInManager<User> _signInManager

@{
    ViewData["Title"] = "Enterprise Users";
}

<div class="d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex align-items-center gap-3">
        <a id="manage"
           class="btn btn-outline-dark"
           asp-area="Identity"
           asp-page="/Account/Manage/Index"
           title="Back to Manage">
            Go Back
        </a>
        <h1 class="h4 mb-0">Accounts Roles Manager</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                User Email
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            <tr>
                <td>@item.Email</td>
                <td>@item.Role</td>

                <td>
                    @if (item.Id != currentUserId)
                    {
                        <a asp-action="Editar" class="btn btn-outline-primary" asp-controller="Account" asp-route-id="@item.Id">Edit</a>
                    }
                    else
                    {
                        <button class="btn btn-outline-secondary" disabled>This is your account</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

