html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hero-bg {
    background-image: url('https://images.unsplash.com/photo-1504307651254-35680f356dfd?q=80&w=1600&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    filter: grayscale(15%);
}

.overlay {
    background: rgba(0,0,0,0.35);
}

.register-card {
    max-width: 460px;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
    overflow: hidden;
}

.auth-card {
    max-width: 460px;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);
    overflow: hidden;
}


.client-side-hero {
    background-image: url('../Documentos/FotosWebSite/Clients/CreateClientHeroImage.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(15%);
}

@media (max-width: 767.98px) {
    .client-side-hero {
        background-image: none;
    }
}

.material-side-hero {
    background-image: url('../Documentos/FotosWebSite/Materials/CreateMaterialHeroImage.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(15%);
}

@media (max-width: 767.98px) {
    .material-side-hero {
        background-image: none;
    }
}


.accountRoles-side-hero {
    background-image: url('../Documentos/FotosWebSite/Account/EditRolesHeroImage.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(15%);
}

@media (max-width: 767.98px) {
    .accountRoles-side-hero {
        background-image: none;
    }
}

.worker-side-hero {
    background-image: url('../Documentos/FotosWebSite/Workers/CreateWorkerHeroImage.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(15%);
}

@media (max-width: 767.98px) {
    .worker-side-hero {
        background-image: none;
    }
}
